body {
    background-color: #121212;
    font-family: 'Raleway', sans-serif;
    color: white;
    width: 50%;
    margin: 0 auto;
    position: relative;
    animation: body;
    animation-duration: 1s;
}

@keyframes body {
    0%{opacity:0}
    100%{opacity:1}
}

body h1{
    font-family: 'Hurricane';
    font-size: 3rem;
    position: relative;
    animation: h1 forwards;
    animation-duration: 1s;
}

@keyframes h1{
    0% {top:-1000px}
    100% {top: 0px}
}

body img{
    opacity: 0;
    width: 600px;
    position: relative;
    animation: img forwards;
    animation-duration: 3s;

}

@keyframes img {
    0%{opacity:0}
    100%{opacity:1}
}

body p{
    line-height: 25px;
}
.ingridients {
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid #ffffff;
    border-radius: 3%;
    width: 400px;
}
.ingridients td{
    padding-right: 100px;
}
.ingridients th{
    text-align: left;
}
.instructions {
    width: fit-content;
}
.instructions li{
    padding-bottom:10px;
    line-height: 25px;
}
#author{
    color:rgb(206, 206, 206);
}
.footer{
    margin: 0 auto;
    width: fit-content;
    margin-top: 50px;
}
 /* Link colors */
 a:link {
    color: rgb(137, 205, 228);
  }

  a:visited {
    color: rgb(133, 133, 133);
  }

  a:hover {
    color: pink;
  }

  a:active {
    color: blue;
  } 